.position-list {
  width: 40rem;
  margin: 0 auto;
}

.position-list h3 {
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
  text-transform: uppercase;
  text-decoration: underline;
}

.positions {
  list-style: none;
  padding: 0;
}

.position {
  padding: 1rem;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.position:nth-child(odd) {
  background-color: rgba(255, 255, 255, .2);
}

.position .position-header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.position .position-footer {
  display: flex;
  gap: .5rem;
}

.position .position-tokens {
  display: flex;
  gap: 1rem;
}

.position .position-token {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.position .position-token .title {
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: small;
  text-transform: uppercase;
}

.interest {
  padding: 2px 6px;
  border-radius: .5rem;
}

.repay {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: .5rem;
  border: 1px solid #722f37;
  background-color: #722f3744;
}

.repay:hover {
  color: white;
  background-color: #721722;
}
